# Startup Config
API_ID=""
API_HASH=""
BOT_TOKEN=""
HELPER_BOT_TOKEN=""
MULTI_TOKEN1=""
MULTI_TOKEN2=""
MULTI_TOKEN3=""
OWNER_ID=""
REPLACE_MODE="false"
HIDE_CATALOG="false"
PARALLEL="4"
PRE_FETCH="3"
AUTH_CHANNEL=""
DATABASE=""
TMDB_API=""
BASE_URL=""
PORT="8001"
UPSTREAM_REPO="https://github.com/kartal788/ts"
UPSTREAM_BRANCH="main"
SUBSCRIPTION="true"
APPROVER_IDS=""
SUBSCRIPTION_URL="" #telegram bot url like https://t.me/username
ISIM="BUTCHEFLİX"
EKLENTI_ACIKLAMASI="Dizi ve film arşivi"
EKLENTI_LOGOSU="https://i.hizliresim.com/e1srcqc.jpg"
BOLUM_RESIMI="https://i.hizliresim.com/oba3bh7.png"
WEBSITESI="true"
MAX_CONCURRENT_DOWNLOADS=""
MAX_CONCURRENT_UPLOADS="1"
SESSION_SECRET_KEY=""
TOKEN_HMAC_SECRET=""
TRUSTED_PROXY_CIDRS=""
BRUTE_WINDOW="60"
BRUTE_MAX="5"
BRUTE_BAN="600"
Proxy=False
ProxyType=HTTPS
HTTP_Proxy_URL=""  #example https://PROXYURL/?url=
PROXY_MODE=1  # 1=Sadece normal, 2=Proxy+Normal (ikisi birden), 3=Sadece proxy
